<div class="container">
  <div class="section">
    <div class="text-container">
      <div class="heading">BookIt</div>
      <div class="content">
        Welcome to BookIt, your ultimate destination for hassle-free event
        booking! At BookIt, we believe in making your event experience seamless
        and enjoyable. With our user-friendly interface, you can explore a
        diverse range of events categorized for your convenience. Whether it's
        concerts, workshops, or sports events, we've got you covered. BookIt
        simplifies ticket booking, ensuring you never miss out on your favorite
        events again.
      </div>
      <div class="button"><a routerLink="/events">Let's see!</a></div>
    </div>
    <div class="image-container">
      <img src="assets/main.png" alt="img" />
    </div>
  </div>
</div>
