<div class="cardWrap">
  <div class="card cardLeft">
    <h1>BookIt <span>Event Management</span></h1>
    <div class="title">
      <h2>{{ booking.event }}</h2>
      <span>event</span>
    </div>
    <div class="name">
      <h2>{{ booking.name }}</h2>
      <span>name</span>
    </div>
    <div class="seat">
      <h2>{{ booking.tickets }}</h2>
      <span>tickets</span>
    </div>
    <div class="time">
      <h2>{{ booking.email }}</h2>
      <span>email</span>
    </div>
  </div>
  <div class="card cardRight">
    <div class="eye"></div>
    <div class="number">
      <h3>{{ booking.tickets }}</h3>
      <span>tickets</span>
    </div>
    <div class="barcode"></div>
  </div>
</div>
