/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(0, 0, 0, 0.9);
  scroll-behavior: smooth;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  color: white;
}
